/* FOTO BACKGROUND DEL HERO */
.bg-fondo{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/foto-hero.jpeg");
        background-size: cover;
        background-position:top;
        height: 60vh;
}

/* DETALLE DEL CURSOR PARA LAS CARDS DE SERVICIO */
.cursor{
    cursor:pointer;
}

@media only screen and (max-width: 992px){
    .img-recomendacion{
        display: none;
    }
}

